<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>添加商品</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="form" data-parsley-validate="" data-parsley-required-message="不可为空！" class="form-horizontal form-label-left" novalidate="" action="{:url('admin/Waress/add')}" method="post" class="dropzone" >
                    <input type="hidden" name="brand_id" value="{$brandId}" >
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="title" id="title" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="remark">图片 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="upload one" id="case" data-num="1" data-type="png,jpg" action="{:url('api/Publicapi/waresImgUpload')}"></div>
                            <p hidden id="imgmsg" style="color: #E74C3C">不可为空！</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="remark">介绍 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="remark" required="required" class="form-control" name="message"></textarea>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="remark">状态 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 6px;">
                            <input type="checkbox" class="js-switch" checked name="status" />
                        </div>
                    </div>-->
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="button" onclick="window.history.back(-1); ">返回</button>
                            <button class="btn btn-primary" type="reset">重置</button>
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("#case").upload(
            //该函数为点击放大镜的回调函数，如没有该函数，则不显示放大镜
            function(_this, data) {
                console.log(data)
            }
        );
        $('#form').submit(function () {
            var info = $("input[name='upload']").val();
            if(info == ''){
                $('#imgmsg').show();
                return false;
            }else {
                $('#imgmsg').hide();
            }

        });
    })
</script>
