<style>
    .searchwarpper select,.searchwarpper input{
        width: 160px;
        display: inline-block;
    }
    .searchitem{
        margin-right: 20px;
        display: inline-block;
    }
    .searchwarpper{
        padding: 30px 0px;
    }
    .x_title {
        border-bottom: none;
    }
</style>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>会员列表</h2>
                <div class="clearfix"></div>
            </div>
            <form method="get" action="/admin/users/index.html">
                <input type="hidden" name="status" value="1">
                <div class="col-md-12 col-sm-12 col-xs-12 searchwarpper">
                    <div class="searchitem">
                        <span>合作商</span>
                        <select class="form-control" id="partner_id" name="partner_id">
                            <option value="">全部</option>
                            {volist name="partnerList" id="vo" empty="这里没有数据"}
                            　　<option <?php echo $partnerId == $vo['id'] ? 'selected' : '' ?> value="{$vo['id']}">{$vo['name']}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="searchitem">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </div>
                </div>
            </form>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>头像</th>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>OpenId</th>
                        <th>所属合作商信息</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo" key="k" empty="暂时没有数据" }
                    <tr id="user_item_{$vo.id}">
                        <th scope="row">{$vo.id}</th>
                        <td><img width="60px" src="{$vo.avatar_url}" /></td>
                        <td>{:urlsafe_b64decode($vo.nickname)}</td>
                        <td>
                            <?php if($vo['gender'] == 1){ ?>
                            男
                            <?php }else{ ?>
                            女
                            <?php } ?>
                        </td>
                        <td>{$vo.openid}</td>
                        <td>
                            合作商ID:{$vo.partner_id}<br/>
                            合作商名称:{:getPartnerInfo($vo.partner_id,'name')}
                        </td>
                        <td>
                            <a href="{:url('admin/Users/detail',array('user_id' => $vo.id))}">详情</a> |
                            <a href="#" onclick="addblack({$vo.id})">加入黑名单</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            {:$list}
        </div>
    </div>
</div>
<script>
    function addblack(user_id) {
        var url = "{:url('admin/Users/ajaxAddBlackLIst')}"+"?user_id="+user_id;
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            success:function(res){
                if(res.code == 1){
                    $('#user_item_'+user_id).remove();
                    $.alert({
                        title: '系统提示',
                        content: '设置成功！',
                        icon: 'fa fa-comment',
                        type: 'green',
                    });
                }else {
                    $.alert({
                        title: '系统提示',
                        content: '设置失败请稍后再试！',
                        icon: 'fa fa-comment',
                        type: 'green',
                    });
                }
                console.log(res);
            },
            error:function () {
                $.alert({
                    title: '系统提示',
                    content: '网络错误，请稍后再试！',
                    icon: 'fa fa-comment',
                    type: 'green',
                });
            }
        });
    }
    
</script>