<style>
    .playnumber input{
        width: 150px;
        display: inline-block;
    }
    .defaultnumber{
        padding-top: 8px;
        line-height: 19px;
    }
    #adddata{
        margin-top: -7px;
    }
    .timeitem{
        margin-top: 20px;
    }
    .timeitem .btn{
        margin-bottom: 5px;
    }
    .notice{
        color: red!important;
        font-size: 15px!important;
    }
    .addbutton{
        margin: 3px 0 0 0!important;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>ar扫描游戏次数设置&nbsp;&nbsp;<span class="notice">默认情况下，用户可以无限次扫描进行收集,可按时间添加可玩次数设置！</span></h2>
                <button type="button" class="btn btn-primary btn-xs addbutton" id="adddata">添加</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left" id="form">
                    <div class="form-group">
                        <div class="col-md-8 col-sm-8 col-xs-12 playnumber col-md-offset-2">
                            {volist name="list" id="vo" key="k" }
                                <div class="timeitem">
                                    开始：<input readonly class="controls input-append date form_datetime form-control" name="start_time" id="start_time_{$k}" type="text" value="{$vo['start_time']}" data-date="2018-09-01" data-date-format="yyyy mm dd" data-link-field="dtp_input1">
                                    结束：<input readonly class="controls input-append date form_datetime form-control" name="end_time" id="end_time_{$k}" type="text" value="{$vo['end_time']}" data-date="2018-09-01" data-date-format="yyyy mm dd" data-link-field="dtp_input1">
                                    次数：<input class="controls input-append date form_datetime form-control" name="play_number" id="play_number_{$k}" type="number" value="{$vo['play_number']}" >
                                    <button type="button" class="btn btn-danger" onclick="deleteItem($(this))">删除</button>
                                </div>
                            {/volist}
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                            <button class="btn btn-primary" type="button" onclick="window.history.back(-1); ">返回</button>
                            <button type="button" class="btn btn-success" id="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>ar扫描游戏规则编辑</h2>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-xs addbutton" id="addrule">添加</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left" id="ruleform">
                    <div id="ruleContent">
                        {volist name="ruleList" id="vo" key="k" }
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12 ruletitle">
                                规则{:$k}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="rule" required="required" class="form-control col-md-7 col-xs-12" value="{$vo['content']}">
                                </div>
                            <button type="button" class="btn btn-danger" onclick="deleteRule($(this))">删除</button>
                            </div>
                        {/volist}
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                            <button class="btn btn-primary" type="button" onclick="window.history.back(-1); ">返回</button>
                            <button type="button" class="btn btn-success" id="rulesubmit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var list = '{:json_encode($list)}';
        list = $.parseJSON( list );
        for(var key in list){
            $('#start_time_'+(parseInt(key)+1)).datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                showMeridian: true,
                pickerPosition: "bottom-left",
                startView: 2,
                minView: 2,
                language: 'zh-CN',
            });
            $('#end_time_'+(parseInt(key)+1)).datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                showMeridian: true,
                pickerPosition: "bottom-left",
                startView: 2,
                minView: 2,
                language: 'zh-CN',
            });
        }

        $('#adddata').click(function () {
            var count = $('.playnumber').children().length;

            var str = '<div class="timeitem">\n' +
                '开始：<input readonly class="controls input-append date form_datetime form-control" name="start_time" id="start_time_'+(count+1)+'" type="text" value="" data-date="2018-09-01" data-date-format="yyyy mm dd" data-link-field="dtp_input1">\n' +
                '结束：<input readonly class="controls input-append date form_datetime form-control" name="end_time" id="end_time_'+(count+1)+'" type="text" value="" data-date="2018-09-01" data-date-format="yyyy mm dd" data-link-field="dtp_input1">\n' +
                '次数：<input class="controls input-append date form_datetime form-control" name="play_number" id="play_number_'+(count+1)+'" type="number" value="" >\n' +
                '<button type="button" class="btn btn-danger" onclick="deleteItem($(this))">删除</button>\n' +
                '</div>';
            $('.playnumber').append(str);
            $('#start_time_'+(count+1)).datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                showMeridian: true,
                pickerPosition: "bottom-left",
                startView: 2,
                minView: 2,
                language: 'zh-CN',
            });
            $('#end_time_'+(count+1)).datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                showMeridian: true,
                pickerPosition: "bottom-left",
                startView: 2,
                minView: 2,
                language: 'zh-CN',
            });
        });
        $('#submit').click(function () {
            var check = true;
            //console.log($('#form').serializeArray());
            var data = $('#form').serializeArray();
            var tempdate = [];
            for(var i = 0;i < data.length;i++){
                if(i % 3 == 0){
                    tempdate.push({'start_time':data[i]['value'],'end_time':data[i+1]['value']});
                }
                if(data[i]['value'] == ''){
                    $.alert('请补充完整数据！');
                    check = false;
                    return false;
                }
            }
            if(!check){
                return false;
            }
            console.log(tempdate);

            var checkx = true;
            for(var i = 0;i < tempdate.length;i++){
                //判断开始不能大于结束
                console.log(tempdate[i]['start_time']);
                console.log(tempdate[i]['end_time']);
                if(tempdate[i]['start_time'] >= tempdate[i]['end_time']){
                    $.alert('开始时间不能大于等于结束时间！');
                    checkx = false;
                    return false;
                }

                for(var j = i - 1;j >= 0;j--){
                    if(
                        !((tempdate[j]['start_time'] >= tempdate[i]['start_time']
                        && tempdate[j]['start_time'] >= tempdate[i]['end_time'])
                       ||(tempdate[j]['end_time'] <= tempdate[i]['start_time']
                            && tempdate[j]['end_time'] <= tempdate[i]['end_time']))
                    ){
                        $.alert('每个时间段不能与其他时间段重合！');
                        checkx = false;
                        return false;
                    }
                }
                if(!checkx){
                    return false;
                }
            }
            if(!checkx){
                return false;
            }

            var url = "{:url('admin/Gamear/ajaxUpdateParam')}";
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                data:{data:data},
                success:function(res){
                    if(res.code == 1){
                        $.alert({
                            title: '系统提示',
                            content: '保存成功',
                            icon: 'fa fa-comment',
                            type: 'green',
                        });
                    }else {
                        $.alert({
                            title: '系统提示',
                            content: '保存失败',
                            icon: 'fa fa-comment',
                            type: 'green',
                        });
                    }
                    console.log(res);
                },
                error:function () {
                    $.alert({
                        title: '系统提示',
                        content: '网络错误，请稍后再试！',
                        icon: 'fa fa-comment',
                        type: 'green',
                    });
                }
            });

        });
        $('#addrule').click(function () {
            let rulecount = $("input[name='rule']").length;
            let html = '<div class="form-group">\n' +
                '<label class="control-label col-md-2 col-sm-2 col-xs-12 ruletitle">规则'+(rulecount+1)+'\n' +
                '</label>\n' +
                '<div class="col-md-6 col-sm-6 col-xs-12">\n' +
                '<input type="text" name="rule" required="required" class="form-control col-md-7 col-xs-12">\n' +
                '</div>\n' +
                '<button type="button" class="btn btn-danger" onclick="deleteRule($(this))">删除</button>\n' +
                '</div>';
            $('#ruleContent').append(html);
        });
        $('#rulesubmit').click(function () {
            let ruleData = $('#ruleform').serializeArray();
            let check = true;
            for(var i = 0;i < ruleData.length;i++){
                if(ruleData[i]['value'] == ''){
                    $.alert('请补充完整数据！');
                    check = false;
                    return false;
                }
            }
            if(!check){
                return false;
            }
            var url = "{:url('admin/Gamear/ajaxUpdateRule')}";
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                data:{data:ruleData},
                success:function(res){
                    if(res.code == 1){
                        $.alert({
                            title: '系统提示',
                            content: '保存成功',
                            icon: 'fa fa-comment',
                            type: 'green',
                        });
                    }else {
                        $.alert({
                            title: '系统提示',
                            content: '保存失败',
                            icon: 'fa fa-comment',
                            type: 'green',
                        });
                    }
                    console.log(res);
                },
                error:function () {
                    $.alert({
                        title: '系统提示',
                        content: '网络错误，请稍后再试！',
                        icon: 'fa fa-comment',
                        type: 'green',
                    });
                }
            });
            console.log(ruleData);
        });
    });
    function deleteItem(obj) {
        obj.parent().remove();
    }
    function deleteRule(obj) {
        obj.parent().remove();
        $(".ruletitle").each(function (index,element) {
            $(this).html('规则'+(index+1));
            //console.log($(this).html());
        })
    }
</script>