<div class="x_panel">
    <div class="x_title">
        <h2>首页按钮配置</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>图标</th>
                    <th>排序</th>
                    <th>连接位置</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach $list as $key=>$val }
                <tr>
                    <td>{$val.content}</td>
                    <td><img style="height: 100px;width: 150px;" src="{$val.img}"/></td>
                    <td>{$val.order}</td>
                    <td>{$val.type_name}</td>
                    <td>
                        <a href="{:url('admin/Homes/buttonedit',['id' => $val['id']])}">编辑</a>
                        <a href="javascript:deletepage({$val['id']})">删除</a>
                    </td>
                </tr>
                {/foreach}
                <?php $count=count($list); if($count<4){ ?>
                <?php for($i=$count;$i<=3;$i++){ ?>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="{:url('admin/Homes/buttonedit',['id' => 0])}">编辑</a>
                    </td>
                </tr>                
                <?php }
                    } ?>
            </tbody>
        </table>
    </div>
</div>
<script>

function deletepage(id){
  $.confirm({
        title: '确认！',
        content: '删除后无法恢复，确认删除吗？',
        type: 'green',
        buttons: {   
            ok: {
                text: "确认",
                btnClass: 'btn-primary',
                keys: ['enter'],
                action: function(){
                    
                       $.ajax({
                            type: 'POST',
                            url: "/admin/Homes/ajaxdelete",
                            data:{ id:id},  
                            dataType: 'json',
                            success: function (res) {
                                      if(res.code!=1){
                                          $.alert(res.msg);
                                          return false;
                                      }
                                      $.alert({
                                        title: '成功',
                                        content: ' 删除成功',
                                        type: 'green',
                                        icon: 'fa fa-check',
                                        buttons: {
                                          ok: {
                                            text: "确定",
                                            btnClass: 'btn-primary',
                                            keys: ['enter'],
                                            action: function(){
                                                window.location.reload();
                
                                            }
                                        },}
                                    });                
                            }
                        });  
                     
                     
                }
            },
            cancel: {
                text: "取消",
            },
            
        }
    });
   
}
</script>