<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>添加首页推荐设置</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                <form id="myform" method="post"   class="form-horizontal form-label-left" data-parsley-validate>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">分组名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                          <input type="text" maxlength="40" id="title" name="title" data-parsley-required="true" data-parsley-required-message="分组名称不能为空" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="remark">图片 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="upload one" id="case" data-num="1" data-type="png,jpg" action="{:url('api/Publicapi/brandImgUpload')}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">排序 <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                          <input type="number" id="order" name="order" data-parsley-required="true" data-parsley-required-message="排序不能为空" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                    <div class="form-group" id="div_type">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">分类 <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                          <select class="form-control" id="select_type" data-parsley-required="true" data-parsley-required-message="分类必须选择">
                           {foreach $tlist as $key=>$val }
                           <option value="{$val['id']}">{$val['name']}</option>
                           {/foreach}
                          </select>
                        </div>
                      </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="button" onclick="mysubmit()"  class="btn btn-success">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

function mysubmit(){
 
    var img = $("input[name='upload']").val();
    if(typeof(img)=='undefined'){
        $.alert("图片必须上传"); 
        return false;          
    }
    if(img.length<1){
        $.alert("图片必须上传"); 
        return false;   
    }  

    var select_type = $('#select_type').val();
    var order = $('#order').val();
    var title = $('#title').val(); 
     $('#myform').parsley().validate();
     
    if (true === $('#myform').parsley().isValid()) {
       $.ajax({
            type: 'POST',
            url: "/admin/Homes/ajaxchangerecommend",
            data:{ id:0,img:img,title:title,select_type:select_type,order:order},  
            dataType: 'json',
            success: function (res) {
                      if(res.code!=1){
                          $.alert(res.msg);
                          return false;
                      }
                      $.alert({
                        title: '成功',
                        content: '添加成功',
                        type: 'green',
                        icon: 'fa fa-check',
                        buttons: {
                          ok: {
                            text: "确定",
                            btnClass: 'btn-primary',
                            keys: ['enter'],
                            action: function(){
                                window.location.href='/admin/Homes/recommend';

                            }
                        },}
                    });                
            }
        });       
    } else {
        return false;
    }
}
$(function() {
        $("#case").upload(
           
        );
});

</script>