<style>
    .searchwarpper select,.searchwarpper input{
        width: 160px;
        display: inline-block;
    }
    .searchitem{
        margin-right: 20px;
        display: inline-block;
    }
    .searchwarpper{
        padding: 30px 0px;
    }
    .x_title {
        border-bottom: none;
    }
    .gameuserid{
        display: inline-block;
        width: 300px;
    }
</style>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>测试使用</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="10%">数据</th>
                        <th width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                游戏用户id：<input class="form-control gameuserid" name="reset_user_id" value="{$ceshiData['value']}">
                            </td>
                            <td>
                                <button class="btn btn-success">重置为未集齐状态</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {:$list}
        </div>
    </div>
</div>